.testimonialDiv{
  width: 100vw;
  min-height: 100vh;
  max-height: fit-content;
  background-color: var(--primary);
  padding: 10px 2em;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.testimonial{
  width: 40%;
  padding: 10px;
}
.testimonial h1{
  color: #fff;
  font-size: 60px;
  text-align: center;
  padding: 1em 0;
}
.testimonial p{
  color: #fff;
  font-size: 18px ;
  line-height: 2em;
  text-align: center;
}
.swip{
  width: 60%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper {
  padding: 1em;
  width: 400px;
  height: 520px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  border: 1px solid var(--primary);
  font-size: 22px;
  font-weight: bold;
  background-color: #fff;
  color: var(--primary);
  transition:2s ease-in-out;
}
.review{
  transition:2s ease-in-out;
  transition-delay:2s ease-in-out;
  padding: 1em;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.rating{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.rating li{
  color: rgb(255, 230, 0);
}
.review h2{
  font-size: 24px;
  text-align: center;
  padding: 1em 0;
}
.review p{
  text-align: center;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 1px;
  font-weight: 500;
}
@media (max-width: 1100px) {
.testimonialDiv{
overflow: hidden;
}
.testimonial{
width: 38%;
}
.testimonial h1{
font-size: 48px;
}  

}
@media (max-width: 926px) {
.testimonialDiv{
flex-direction: column;
}
.testimonial{
width: 100%;
}
.testimonial h1{
font-size: 36px;
}
}
@media (max-width: 398px) {
  .testimonial h1{
    font-size: 28px;
  }
  .testimonial p{
    font-size: 17px;
    line-height: 1.2em;
  }
.swiper{
  width: 360px;
  height: 420px;
}
.review p{
  font-size: 16px;
}
.review h2{
  font-size: 20px;
}
}
@media (max-width: 398px) {
  .swiper{
    width: 320px;
    height: 480px;
  }
  .review{
    justify-content: space-evenly;
    padding: 18px 10px;

  }
}
@media (max-width: 398px) {
  .swiper{
    width: 300px;
    height: 520px;
  }}

/* .swiper-slide:nth-child(1n) {
background-color: var(--secondary);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
} */
