.main {
    position: absolute;
    margin-top: 80px;
  }
.swal2-popup{
  border: 1px solid var(--primary);
  border-radius: 20px;
}
  .contactForm {
    background-color: transparent;
    width: 100% !important;
    padding: 10px;
}

.contactForm h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 8px 2px 4px 12px;
    color: var(--primary);
}

.contactForm form {
    background-color: transparent;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contactForm input,
.contactForm .input,
.contactForm textarea {
    background-color: #fff;
    border: 1px solid rgba(128, 128, 128, 0.932);
    outline: none;
    border-radius: 15px;
    width: 80% !important;
    padding: 10px 15px;
    height: 50px;
    margin: 10px auto;
}

.contactForm input::placeholder {
    font-size: 18px;
}
.contactForm .input{
    padding: 10px 15px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactForm select {
    border: 1px solid transparent;
    outline: none;
    width: 96%;
    font-size: 18px;
    background-color: transparent;
color: grey;
}

.swal2-confirm{
    font-size: 20px;
    font-weight: 600;
    outline: none;
    border-radius: 20px !important;
    background-color: var(--primary) !important;
    color: #fff !important;
    padding: 1rem;
}
.swal2-cancel {
    font-size: 20px;
    font-weight: 600;
    border: 1px solid var(--primary) !important;
    border-radius: 20px !important;
    background-color:#fff !important;
    color:var(--primary) !important;
    padding: 1rem;
}
.query{
    height: 100px !important;
    font-size: 17px;
}

.mainBody {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    /* background-color: rgb(246, 247, 252); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  
  .mainBody::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 100vh;
    /* background:linear-gradient(118deg,#314477,#3cb1e2,#87d1ff); */
    background: linear-gradient(118deg, black, black, rgb(5, 2, 34), #75c1f0);
    opacity: 60%;
  }
  
  .mainContainer {
    width: 100vw;
    /* height: 695px; */
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1px;
  
  }
  
  .mainContainer::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 100vh;
    background: linear-gradient(118deg, black, black, rgb(5, 2, 34), #75c1f0);
    opacity: 60%;
    top: 0;
    right: 0;
  }
  
  .Container {
    margin-top: 75px;
    display: flex;
    align-items: center;
  
    width: 100%;
  }
  
  .Headings {
    position: relative;
    width: 58%;
    height: 80vh;
    margin: 3rem 2px 2px 5rem;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    flex-direction: column;
  }
  
  
  .Headings h1 {
    font-size: 34px;
    font-weight: 300;
    color: var(--textColor);
    /* text-shadow:0 0 7px #fff; */
  }
  
  .Headings h2 {
    font-size: 80px;
    font-weight: bold;
    color: var(--textColor);
    /* text-shadow:3px 2px 6px #fff; */
  }
  
  .Headings p {
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 1.8rem;
    padding: 10px 24px 10px 0;
    line-height: 2.4rem;
    color: var(--textColor);
    /* text-shadow:0 0 3px #fff; */
  }
  
  .btns {
    padding: 15px 0;
    width: 322px;
    display: flex;
    justify-content: space-between;
  
  }
  
  .portfolioBtn {
    text-align: center;
    font-size: 16px;
    padding: 15px;
    background-color: var(--primary);
    color: #fff;
    border-radius: 30px;
    border: transparent;
    letter-spacing: 1px;
    transition: 0.8s;
    font-weight: 500;
  }
  
  .contactBtn {
    letter-spacing: 1px;
    background-color: transparent;
    font-size: 16px;
    color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 30px;
    padding: 12px 16px;
    transition: 0.8s;
    font-weight: 700;
  }
  
  .contactBtn:hover {
    background-color: var(--primary);
    color: #fff;
  }
  
  .imagee {
    width: 50%;
  }
  
  .imagee img {
    width: 65%;
  }
  
  .detailSec {
    background-color: #fff;
    position: relative;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .detailDiv {
    width: 100%;
    padding: 2em 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .detailSec h1 {
    padding: 1em 0 0 0;
    text-align: center;
    display: inline !important;
    color: var(--primary);
    font-size: 42px;
  }
  
  .detail {
    background-color: #fff;
    width: 28%;
    max-height: fit-content;
    min-height: 482px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-flow: column;
    border: transparent;
    box-shadow: 0 0 5px #ada8a8;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
  }
  
  .detail .img {
    width: 80px;
    height: 80px;
  }
  
  
  .detail:nth-child(1) .img{
    background: url(../../assets/Home/softwareDev1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .detail:nth-child(2) .img{
    background: url(../../assets/Home/ideaLight.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .detail:nth-child(3) .img{
    background: url(../../assets/Home/cloudcomp.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .detail:nth-child(1) .img:hover{
    background: url(../../assets/Home/softwareDev.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .detail:nth-child(2) .img:hover{
    background: url(../../assets/Home/ideaLight.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .detail:nth-child(3) .img:hover{
    background: url(../../assets/Home/cloudcomp.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .detail h3 {
    font-size: 20px;
    color: var(--primary);
    letter-spacing: 1px;
    /* padding: 8px auto; */
    margin: 1em auto;
    text-align: center;
  }
  
  .detail p {
    width: 98%;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
  }
  
  .detail a{
    margin: 1em 0;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    background-color: var(--primary);
    color: #fff;
    border-radius: 30px;
    border: transparent;
    letter-spacing: 1px;
    font-weight: 500;
  }
  
  .designs {
    width: 100vw;
    height: 698px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /* margin: 2em auto; */
    padding: 4px 4.2em;
    background-color: #fff !important;
  
  }
  
  .aboutDesigns {
    width: 51%;
    padding: 10px;
  }
  
  .designs h3 {
    font-size: 62px;
    font-weight: 500;
    color: var(--primary);
  }
  
  .designs p {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.3em;
    font-weight: 400;
    padding: 14px 10px;
  }
  
  .groupImg {
    width: 48%;
    background-color: #fff !important;
  }
  
  .groupImg img {
    width: 100%;
    /* border-radius: 10em 0 10em 10em; */
    border-radius: 20px;
  }
  
  .read {
    font-size: 18px;
    font-weight: 500;
    padding: 13px 17px;
    margin: 12px auto;
    background-color: var(--primary);
    color: var(--textColor);
    border-radius: 30px;
    border: transparent;
    letter-spacing: 1px;
    transition: 0.8s;
  }
  
  .empowerSec {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding: 8px 4.2em;
    justify-content: space-around;
    /* margin-bottom: 2em; */
    background-color: #fff;
  }
  
  .inDiv {
    width: 27%;
  
  }
  
  .divInDiv {
    width: 94%;
    height: 40%;
    border-radius: 20px;
    box-shadow: 0 0 3px #d1c7c7;
    background-color: var(--primary);
    padding: 42px 55px;
    margin: 14px auto;
  }
  
  .inDiv:nth-child(2) .divInDiv:nth-child(2),
  .inDiv:nth-child(1) .divInDiv:nth-child(1) {
    height: 55%;
    display: flex;
    align-items: unset;
    justify-content: center;
    flex-flow: column;
  }
  
  .divInDiv img {
    padding: 10px;
    width: 90px;
  }
  
  .divInDiv h4 {
    font-size: 18px;
    color: #fff;
  }
  
  .empowerdetail {
    width: 35%;
    padding: 14px 1px;
  
  }
  
  .empowerdetail h2 {
    font-size: 38px;
    width: 94%;
    /* color: #fff; */
    color:var(--primary);
  }
  
  .empowerdetail p {
    font-size: 18px;
    letter-spacing: .98px;
    line-height: 1.5em;
    font-weight: 400;
    /* color: #fff; */
    color: var(--primary);
  }
  
  .empowerdetail button {
    margin-top: 13px;
  }
  
  
  .valuesSection {
    width: 100vw;
    padding: 2em auto 1em auto;
    background-color: #fff;
  }
  
  .values {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4em 1rem 10px;
  }
  
  .value {
    text-align: center;
    color: var(--primary);
  }
  
  .value h1 {
    font-size: 32px;
  }
  
  .value h2 {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
  }
  
  .estimate {
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  
  }
  
  .estimateDiv {
    width: 86%;
    color: #fff;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
  }
  
  .estimateDiv h1 {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }
  
  .estimateDiv button {
    font-size: 18px;
    padding: 12px 18px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 25px;
  }
  
  .secret {
    background-color: #fff;
    width: 100vw;
    padding: 12px 16px;
  }
  
  .secret h1 {
    padding: 12px;
    font-size: 32px;
    width: fit-content;
    margin: auto;
  }
  
  .secretDiv {
    width: 95vw;
    margin: auto;
    padding: 1em 4em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .inSecret {
    width: 31%;
    height: 532px;
    padding: 12px;
    border: transparent;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 12px #8d8989;
    margin: 10px auto;
  }
  .inSecret img {
    width: 100%;
    padding: 12px 0 4px 0;
    margin: auto;
  }
  
  .inSecret h2 {
    font-size: 23px;
    font-weight: 600;
    width: 100%;
    margin: 12px auto;
  }
  
  .inSecret p {
    padding: 14px 6px;
    font-size: 18px;
    letter-spacing: .5px;
    width: 100%;
    height: 50%;
    margin: auto;
    color: #8d8989;
  }
    
  @media(max-width:1100px) {
    .empowerSec {
      width: 100vw;
      height: 622px;
    }
  }
  @media(max-width:1062px) {
    .inDiv{
      width: 29%;
    }
    .empowerdetail{
      width: 40%;
    }
    .Headings p {
      letter-spacing: .2px;
    }
  }
  @media(max-width:1006px) {
    .Headings {
      width: 67%;
    }
  
    .Headings h1 {
      font-size: 30px;
    }
  
    .Headings h2 {
      font-size: 80px;
    }

    .detail {
      width: 34%;
      margin: 14px;
    }
  
    .designs h3 {
      font-size: 50px;
      text-align: center;
    }
  
    .inSecret {
      width: 45%;
    }
  
    .empowerSec {
      min-height: 678px;
    }
  }
  @media(max-width:926px) {
    .Container {
      justify-content: center;
    }
  
    .Headings {
      width: 80%;
    }

    .empowerSec {
      width: 100vw;
      height: fit-content;
      flex-wrap: wrap;
      padding: 4px;
    }
    .inDiv{
      width: 42%;
      height: fit-content;
    }
    .divInDiv{
      align-items: center;
      justify-content: center;
    }
    .empowerdetail{
      width: 80%;
      margin-top: 2em;
    }
    .empowerdetail p{
      line-height: 2em;
      letter-spacing: 1px;
    }
    .estimate{
     height: 350px; 
    }
    .secretDiv{
      padding: 1em 0 0 0;
    }
  }
  @media(max-width:796px) {
    .Headings {
      width: 85%;
    }
  
    .Headings h1 {
      font-size: 25px;
    }
  
    .Headings h2 {
      font-size: 70px;
    }
  
    .btns {
      width: 328px;
    }
  
    .detail {
      width: 88%;
      margin: 1.3em;
    }
  
    .detail img {
      width: 120px;
    }
  
    .detail h3 {
      margin: 12px;
    }
  
    .detail p {
      font-size: 20px;
      width: 80%;
    }
  
    .designs {
      width: 100%;
      height: fit-content;
    }
    .designs h3{
      padding: 1em 0;
    }
    .readBtn{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .aboutDesigns {
      width: 100%;
    }
  
    .groupImg {
      width: 100%;
    }
  
    .inDiv {
      width: 100%;
      margin:0px 14px;
    }
  
    .inDiv .divInDiv {
      height: 50% !important;
      display: flex;
      flex-direction: column;
      align-items: center !important;
      margin: 10px auto;
  
    }.inDiv:nth-child(2) .divInDiv:nth-child(2),
    .inDiv:nth-child(1) .divInDiv:nth-child(1) {
      margin: 20px auto;
  }
  
    .empowerdetail {
      margin: 2em 10px;
      width: 100%;
    }
  
    .empowerdetail p {
      font-size: 20px;
      line-height: 2em;
      padding: 26px 10px 10px 10px;
    }
  
    .values {
      flex-direction: column;
    }
  
    .value {
      margin: 12px;
    }
  
    .estimateDiv {
      width: 90%;
      flex-flow: column;
      text-align: center;
    }
  
    .estimateDiv h1 {
      margin: 1em;
    }
  
    .secret {
      padding: 4px 0;
    }
  
    .secret h1 {
      text-align: center;
    }
  
    .secretDiv {
      padding: 4px 2em;
      width: 100%;
    }
  
    .inSecret {
      width: 100%;
      height: fit-content;
    }
    .inSecret p{
      font-size: 20px;
    }
  }
  @media(max-width:652px) {
    .Container {
      justify-content: center;
    }
  
    .Headings {
      width: 90%;
      margin: 3.6em 0 0 0;
    }
  
    .Headings h1 {
      font-size: 26px;
    }
  
    .Headings h2 {
      font-size: 60px;
    }
    
  }
  @media(max-width:562px) {
    .mainContainer,
    .mainContainer::before {
      height: 842px;
    }

    .Headings h1 {
      font-size: 26px;
    }
  
    .Headings h2 {
      font-size: 60px;
    }
  
    .Headings p {
      font-size: 16px;
    }
  
    .btns {
      width: 100%;
      flex-flow: column;
      align-items: center;
    }
  
    .btns button {
      width: fit-content;
      margin: 12px auto;
      padding: 12px 16px;
    }
    .portfolioBtn{
      margin-bottom: 1em;
    }
  
    .designs h3, .detailSec h1 {
      font-size: 30px;
    }
    .secretDiv{
      padding: 4px 1em;
    }
  }
  @media(max-width:468px) {
    .designs{
      padding: 10px 1em ;
    }
  }
  
  @media(max-width:398px) {
    .mainContainer,
    .mainContainer::before {
      height: 720px;
    }
  
    .Headings {
      margin-top: 1.4em;
      width: 94%;
    }
  
    .Headings h1 {
      font-size: 26px;
    }
  
    .Headings h2 {
      font-size: 56px;
    }
  
    .Headings p {
      font-size: 17px;
      padding: 6px 2px;
    }
  
    .btns {
      padding: 4px;
    }
  
    .detailDiv {
      /* margin-top: -2.6em; */
      padding: .6em;
    }
  
    .detail {
      /* margin: 18px auto; */
      width: 96%;
    }
  
    .designs {
      padding: 10px;
    }
  
    .aboutDesigns {
      padding: 2px;
    }
  
    .designs h3,.detailSec h1 {
      font-size: 28px;
    }
  
    .designs p {
      padding: 14px 4px;
    }
  
    .empowerdetail h2 {
      font-size: 30px;
    }
  
    .divInDiv {
      width: 95%;
    }
    
    .estimateDiv h1 {
      font-size: 18px;
      font-weight: 300;
      margin: 10px;
    }
  
    .estimateDiv button {
      margin: 10px auto;
    }
  }
 
  @media(max-width:338px) {
  
    .Headings p {
      line-height: 1.8em;
    }
  }
 