.container{
    background-image: url(../../assets/aboutmain.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 4.2em;;
}
.heading {
    color: var(--primary);
    width: 60%;
    padding: 12px;
}

.heading h1 {
    font-size: 56px;
    font-weight: 600;
    padding: 10px 0;
}
.policy{
    width: 100vw;
    padding: 3em 4.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.para{
    width: 90%;
}
.para p{
    font-size: 20px;
    line-height: 1.5em;
}
.quesAnswers{
    margin: 10px auto;
    width:80%;
    padding: 10px;
}
.quesAns{
    margin: 16px;
    width: 100%;
}
.quesAns h1{
    color: var(--primary);
    font-size: 28px;
    margin: 16px auto;
    padding: 10px auto;
}
.quesAns p{
    font-size: 19px;
}
.quesAns a{
    color: var(--secondary);
}


@media (max-width: 796px){
    .heading h1 {
        font-size: 42px;
    }
}
@media (max-width: 652px){
    .container{
        align-items: center;
        justify-content: center;
        padding: 2em;
    }
    .heading{
        width: 100%;
    }
    .policy{
        padding: 2em;
    }
}
@media (max-width: 562px){
    .policy{
        padding: 1em;
    }
    .quesAnswers{
        width: 95%;
        margin: auto;
    }
}
@media (max-width: 356px){ 
    .para p{
        font-size: 18px;
    }
    .quesAns{
        margin: 0;
    }
    .quesAns h1{
        font-size: 20px;
    }
    .quesAns p {
        font-size: 18px;
        line-height: 1.4em;
    }
    .quesAns p span{
        font-size: 14px;
    }
}
